* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
:root {
	--mainFamily: 'Inter';
	--headingFamily: 'Montserrat';
	--headingCol: #192252;
	--textCol: #848fac;
	--headingWeight: 600;
	--btnBg: #0e1734;
}
body {
	font-family: 'Montserrat', Arial, sans-serif;
}
.flex {
	display: flex;
	align-items: center;
}
.btn {
	background-color: var(--btnBg);
	padding: 16px 32px;
	font-weight: 500;
	font-family: var(--mainFamily);
	color: #fff;
	font-size: 16px;
}
.container {
	width: 1270px;
	margin: 0 auto;
	padding: 0 5px;
}
.norway-box {
	width: 100%;
	height: 736px;
	justify-content: center;
	gap: 126px;
}
.norway-img {
	width: 384px;
	height: 576px;
}
.norway-box__h2 {
	width: 690px;
	font-size: 36px;
	color: var(--headingCol);
	font-family: var(--headingFamily);
	margin-bottom: 24px;
}
.norway-box__txt1 {
	width: 584px;
	font-size: 18px;
	color: var(--textCol);
	font-family: var(--mainFamily);
	margin-bottom: 16px;
}
.norway-box__txt2 {
	width: 584px;
	font-size: 18px;
	color: var(--textCol);
	font-family: var(--mainFamily);
    margin-bottom: 32px;
}
.norway-box__btn {
    text-decoration: none;
}

.tripple-images{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.tripple-images_card{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.tripple-images__text-part{
    max-width: 400px;
    width: 100%;
}
.tripple-images__text-part h2{
    padding-top: 32px;
    padding-bottom: 16px;
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: left;
}
.tripple-images__text-part p{
    padding-bottom: 32px;
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;
    color: #848FAC;
}

.hvs{
    display: flex;
    align-items: center;
    gap: 13.67px;
}

.hvs a{
    font-family: Inter;
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;
    color: #848FAC;
    text-decoration: none;
    transition: ease 0.6s;
}
.hvs i{
    margin-top: 3px;
    font-size: 18px;
    color: #848FAC;
    text-decoration: none;
    transition: ease 0.6s;
}

.hvs:hover > a{
    color: rgb(221, 116, 17);
    transition: ease 0.5s;
}
.hvs:hover > i{
    color: rgb(7, 44, 100);
    transition: ease 0.5s;
    transform: translateX(10px);
}
.rotate{
    transition: ease 1s;
}
.rotate:hover{
    transform: rotatey(360deg);
    transition: ease 1s;
}