* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
:root {
	--mainFamily: 'Inter';
	--headingFamily: 'Montserrat';
	--headingCol: #192252;
	--textCol: #848fac;
	--headingWeight: 600;
	--btnBg: #0e1734;
}
body {
	font-family: 'Montserrat', Arial, sans-serif;
}
.flex {
	display: flex;
	align-items: center;
}
.btn {
	background-color: var(--btnBg);
	padding: 16px 32px;
	font-weight: 500;
	font-family: var(--mainFamily);
	color: #fff;
	font-size: 16px;
}
.container {
	width: 1270px;
	margin: 0 auto;
	padding: 0 5px;
}
.norway-box {
	width: 100%;
	height: 736px;
	justify-content: center;
	gap: 126px;
}
.norway-img {
	width: 384px;
	height: 576px;
}
.norway-box__h2 {
	width: 690px;
	font-size: 36px;
	color: var(--headingCol);
	font-family: var(--headingFamily);
	margin-bottom: 24px;
}
.norway-box__txt1 {
	width: 584px;
	font-size: 18px;
	color: var(--textCol);
	font-family: var(--mainFamily);
	margin-bottom: 16px;
}
.norway-box__txt2 {
	width: 584px;
	font-size: 18px;
	color: var(--textCol);
	font-family: var(--mainFamily);
    margin-bottom: 32px;
}
.norway-box__btn {
    text-decoration: none;
}
.flex {
	display: flex;
	align-items: center;
}
.btn {
	background-color: var(--btnBg);
	padding: 16px 32px;
	font-weight: 500;
	font-family: var(--mainFamily);
	color: #fff;
	font-size: 16px;
}
.container {
	width: 1270px;
	margin: 0 auto;
	padding: 0 5px;
}

footer{
	background-color: #0B265A;
	padding: 120px 0;
}
.footer__body{
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.footer__title{
	font-family: var(--headingFamily);
	font-style: normal;
	font-weight: 700;
	font-size: 32px;
	line-height: 39px;
	letter-spacing: -0.01em;
	color: #FFFFFF;
	margin-bottom: 15px;
}
.footer__text{
	font-family: var(--mainFamily);
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 28px;
	color: #D9DBDE;
	width: 186px;
	margin-bottom: 50px;
}
.footer__list{
	display: flex;
	align-items: center;
	justify-content: space-between;

}
.footer__item{
	list-style: none;
	margin-bottom: 25px;
}
.fa-brands{
	font-size: 32px;
	color: #FFFFFF;
}
.footer__right{
	display: flex;
	justify-content: space-between;
	column-gap: 40px;
}
.footer__items{
	font-family: var(--mainFamily);
	font-style: normal;
	font-weight: 700;
	font-size: 16px;
	line-height: 19px;
	letter-spacing: 0.01em;
	list-style: none;
	color: #FFFFFF;
	margin-bottom: 25px;
}
.footer__link{
	font-family: var(--mainFamily);
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 19px;
	color: #D9DBDE;
	text-decoration: none;
}